.custom-button {
  color: #fff;
  height: 40px;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background: #1a2856;
  cursor: pointer;
  gap: 8px;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.custom-button i {
  font-size: 20px;
}

.custom-button:hover {
  opacity: 0.9;
}
