<div class="certificate-item">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <div class="fw-bold student-name">{{ certificate.name }}</div>
      <small class="text-muted student-date"
        >Generated in {{ certificate.createdAt | date : "longDate" }}</small
      >
    </div>
    <div class="d-flex gap-2">
      <app-secondary-button
        phClass="ph ph-eye"
        (click)="redirectToCertificate()"
      ></app-secondary-button>
    </div>
  </div>
</div>
